@use "../global" as *;

.LogoutBtn {
  display: flex;
  align-items: center;
  border: 1px solid $blue;
  border-radius: 2px;
  color: $blue;
  background: none;
  padding: 5px 11px;
  cursor: pointer;
  @include hoverAndActive;
  @include svg;
  span {
    font-size: 14px;
    margin-left: 0.5rem;
    white-space: nowrap;
  }
}
