@use "../global" as *;

.Dev {
  background-color: var(--bg_dark);
  @include section;
  section {
    text-align: start;
  }
  .diagram1 {
    width: 80%;
    aspect-ratio: 1290/736;
    position: relative;
    margin-bottom: 1rem;
  }
  .diagram2 {
    width: 80%;
    aspect-ratio: 1530/728;
    position: relative;
    margin-bottom: 1rem;
  }
}
