@use "../global" as *;

.New {
  background-color: var;
  .wrapper {
    padding: 1rem;
    background-color: var(--bg_dark);
    margin: auto;
    color: var(--tx);
    max-width: $max-width;
    section {
      margin-top: 3rem;
      button {
        font-size: 0.875rem;
        align-items: center;
        color: var(--tx2);
        background: none;
        border: none;
        margin: 1rem auto;
        display: block;
        cursor: pointer;
      }
      .noMore {
        text-align: center;
        margin: 1rem auto;
      }
    }
  }
}
