@use "../global" as *;

.Webtoon {
  background-color: var(--bg_dark);
  padding: 1rem;
  .wrapper {
    max-width: calc($max-width - 200px);
    border: 1px solid var(--hover);
    padding: 1em;
    margin: auto;
    background-color: var(--bg);
    color: var(--tx);
    .detail {
      display: flex;
      margin-bottom: 10px;
      gap: 1rem;
    }
  }
  .wrapper2 {
    max-width: calc($max-width - 200px);
    border: 1px solid var(--hover);
    padding: 1em;
    margin: 1rem auto;
    background-color: var(--bg);
    color: var(--tx);
    .recs {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      overflow: hidden;
      .rec {
        width: 160px;
        aspect-ratio: 1 / 1;
        position: relative;
        cursor: pointer;
        .recTitle {
          width: 100%;
          height: 26px;
          position: absolute;
          bottom: 0;
          background-color: var(--bg_clear);
          padding: 0.25rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .wrapper3 {
    max-width: calc($max-width - 200px);
    border: 1px solid var(--hover);
    padding: 1em;
    margin: 1rem auto;
    background-color: var(--bg);
    color: var(--tx);
    .recs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.ImageAndButtons {
  .image {
    width: 300px;
    height: 400px;
    position: relative;
    margin-bottom: 0.5rem;
    .ellipsis {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      font-size: 1.5rem;
      padding: 0.25rem;
      color: var(--tx2);
      cursor: pointer;
      transition: color 200ms;
      &:hover {
        color: black;
      }
      .popup {
        padding: 1px;
        margin: 1px;
        position: absolute;
        top: 30px;
        left: 0px;
        z-index: 100;
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    button {
      @include btn;
    }
  }
}

.Table {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  .title {
    word-break: keep-all;
    background-color: var(--bg_dark);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--tx);
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
  .tr {
    margin: 1rem 0;
    display: flex;
    .th {
      min-width: 120px;
    }
    .td {
      word-break: keep-all;
      flex: 1;
      gap: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .genre {
        word-break: keep-all;
        background-color: var(--bg_btn);
        padding: 4px 12px;
        border-radius: 1rem;
        color: var(--tx);
        cursor: pointer;
      }
      .stat {
        display: flex;
        align-items: center;
      }
    }
  }
}

.Synopsis {
  border-top: 1px solid var(--hover);
  padding: 0.5em;
  :first-child {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 992px) {
  .ImageAndButtons {
    .image {
      .ellipsis {
        .popup {
          left: -216px;
        }
      }
    }
  }
  .detail {
    align-items: center;
    flex-direction: column;
  }
}
