@use "../global" as *;

.Introduction {
  margin: auto;
  padding-top: 3rem;
  max-width: $max-width;
  color: var(--tx);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--hover);
  word-break: keep-all;
  .texts {
    padding-bottom: 1.5rem;
    h3 {
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
    }
    h2 {
      margin: 40px 0 12px 0;
      font-size: 1.5rem;
      font-weight: 400;
    }
    h4 {
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
      color: var(--tx2);
    }
  }
  .icon {
    width: 180px;
    height: 180px;
    position: relative;
  }
}
