@use "../global" as *;

@mixin mediaScreenGrid($n, $fr) {
  .Cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat($n, $fr);
  }
}

.Cards {
  max-width: $max-width;
  margin: auto;
  padding: 1rem;
  display: grid;
  gap: 2rem 1rem;
}

$mediaWidth: 368px;
$mediaMaxWidth: 2100px;

@media screen and (min-width: calc($mediaMaxWidth - $mediaWidth *5)) {
  @include mediaScreenGrid(1, 1fr);
}
@media screen and (min-width: calc($mediaMaxWidth - $mediaWidth *4)) {
  @include mediaScreenGrid(2, 1fr);
}
@media screen and (min-width: calc($mediaMaxWidth - $mediaWidth *3)) {
  @include mediaScreenGrid(4, 1fr);
}
@media screen and (min-width: calc($mediaMaxWidth - $mediaWidth *2)) {
  @include mediaScreenGrid(5, 1fr);
}
@media screen and (min-width: calc($mediaMaxWidth - $mediaWidth *1)) {
  @include mediaScreenGrid(6, 1fr);
}
@media screen and (min-width: $mediaMaxWidth) {
  @include mediaScreenGrid(8, 1fr);
}
