@use "../global" as *;

@mixin imageShadow($color) {
  .image {
    box-shadow: 0 0 2px 2px $color;
  }
}

.Card {
  width: 100%;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  &#bookmark {
    @include imageShadow($blue);
  }
  &#later {
    @include imageShadow($red);
  }
  &#both {
    @include imageShadow($purple);
  }

  &#trash {
    .image {
      filter: grayscale(1);
      opacity: 0.25;
    }
  }
  .image {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 320/180;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .top {
      margin-top: 0.5rem;
      width: 100%;
      color: var(--tx2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1rem;
        font-weight: 600;
        color: var(--tx);
      }
    }
    .episode {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--tx2);
      font-size: 0.75rem;
    }
  }
}
