@use "../global" as *;

.Card {
  width: 100%;
  min-width: 180px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  .image {
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 320/180;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
    .top {
      margin-top: 0.5rem;
      width: 100%;
      color: var(--tx2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1rem;
        font-weight: 600;
        color: var(--tx);
      }
    }
    .episode {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--tx2);
      font-size: 0.75rem;
    }
  }
}
