@use "../global" as *;

.NewToon {
  border-radius: 6px;
  width: clamp(100px, 100%, 210px);
  height: clamp(100px, 100%, 300px);
  overflow: hidden;
  a {
    color: var(--tx);
    transition: transform 300ms;
    &:hover {
      transform: translateY(-8px);
    }
    .imgWrapper {
      position: relative;
      overflow: hidden;
      border-radius: 6px;
      aspect-ratio: 83 / 90;
      background-color: var(--bg_darkest);
    }
    .title {
      font-size: 14px;
      font-weight: 500;
      color: var(--tx);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 8px 0 4px;
    }
    .episode {
      font-size: 12px;
      color: var(--tx2);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
