@use "./global" as *;

.Cards {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: $max-width;
  padding-bottom: 2rem;
  border-bottom: 1px solid $hover;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    h2 {
      color: $tx;
    }
    a {
      cursor: pointer;
      border: none;
      background: none;
      color: $tx;
      &::after {
        content: ">";
      }
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
