@use "./global" as *;

.Card1 {
  color: var(--tx);
  aspect-ratio: 200 / 280;
  width: 120px;
  a {
    width: 100%;
    .title {
      font-size: 14px;
      font-weight: 500;
      color: var(--tx);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 4px;
    }
    .episode {
      font-size: 12px;
      color: var(--tx2);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    img {
      width: 100%;
    }
  }
}
