@use "./global" as *;

@mixin icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  @include svg;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  color: $tx;
  .left {
    display: flex;
    align-items: center;
    .bars {
      @include icon;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    .icon {
      @include icon;
    }
  }
  .searchbar {
    height: 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      width: 100%;
      max-width: 760px;
      height: 100%;
      border: 1px solid $blue;
      display: flex;
      align-items: center;
      .searchIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0 10px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      input {
        color: $grey;
        background: none;
        border: none;
        font-size: 14px;
        &:focus {
          outline: none;
        }
      }
    }
    .searchBtn {
      @include icon;
      width: 64px;
      height: 40px;
      border: none;
      background-color: $bg_btn;
      color: $tx;
      border-radius: 0 2px 2px 0;
    }
  }
}
