@use "./global" as *;

.Home {
  position: absolute;
  left: 240px;
  top: 56px;
  right: 0;
  background-color: #181818;
  .cards {
    margin: 2rem 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}
