@use "./global" as *;

.Layout {
  display: flex;
  flex-direction: column;
  .top {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .main {
    display: flex;
    > :last-child {
      flex: 1;
    }
  }
}
