@use "./global" as *;

$width: 220px;

.NavbarSmall {
  .empty {
    width: 72px;
  }
  ul {
    position: fixed;
    top: 56px;
    bottom: 0;
    background-color: $bg;
    width: 72px;
    color: $tx;
    list-style: none;
    margin: 0;
    padding: 0;
    .NavbarItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px 0 14px;
      cursor: pointer;
      @include svg;
      @include hoverAndActive;
      span {
        margin-top: 6px;
        font-size: 10px;
      }
    }
  }
}

.NavbarBig {
  .empty {
    width: 240px;
  }
  .wrapper {
    position: fixed;
    top: 56px;
    bottom: 0;
    margin-bottom: auto;
    background-color: $bg;
    width: 240px;
    color: $tx;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &:hover {
      &::-webkit-scrollbar {
        display: block;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 12px 0;
      border-bottom: 1px solid $hover;
      width: $width;
      .NavbarItem {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 24px;
        cursor: pointer;
        :first-child {
          margin-right: 24px;
        }
        @include svg;
        @include hoverAndActive;
        span {
          @include ellipse;
          font-size: 14px;
        }
      }
    }
    .promo {
      width: $width;
      padding: 12px 30px;
      border-bottom: 1px solid $hover;
      font-size: 12px;
      div {
        width: 160px;
        margin-bottom: 12px;
      }
    }
    .genre {
      font-size: 14px;
      color: $grey;
      margin: 20px 24px 0;
    }
    .links {
      width: $width;
      padding: 12px 30px;
      border-bottom: 1px solid $hover;
      font-size: 12px;
      a {
        display: inline-block;
        margin-right: 8px;
        color: #aaaaaa;
      }
    }
    .copyright {
      width: $width;
      padding: 12px 30px;
      font-size: 12px;
      color: #717171;
    }
  }
}
