@use "./global" as *;

.NaverToons {
  width: $max_width;
  padding: 0;
  margin: 2rem auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  li {
    width: 83px;
    position: relative;
    cursor: pointer;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    .image {
      width: 83px;
      height: 90px;
    }
    .title {
      background-color: var(--bg_darkest);
      text-align: center;
      display: inline-block;
      text-decoration: none;
      width: 100%;
      font-size: 0.8em;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
