@use "./global" as *;

.New {
  .wrapper {
    padding: 1rem;
    background-color: $bg_dark;
    margin: auto;
    color: $tx;
    max-width: $max-width;
    section {
      margin-top: 3rem;
      button {
        font-size: 0.875rem;
        align-items: center;
        color: $tx2;
        background: none;
        border: none;
        margin: 1rem auto;
        display: block;
        cursor: pointer;
      }
      .noMore {
        text-align: center;
        margin: 1rem auto;
      }
    }
  }
}
