@use "./global" as *;

.NotFound {
  background-color: var(--bg_dark);
  color: var(--tx);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .link {
    color: $blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      padding-top: 4px;
    }
  }
}
