@use "./global" as *;

// $bg_ribbon: #f5f5f7;
$bg_ribbon: $bg_darkest;

.Ribbon {
  width: 100%;
  background-color: $bg_ribbon;
  overflow: hidden;
  .wrapper {
    background-color: $blue;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 14px;
    animation: moveDown 1s, background 1s 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    .link {
      margin-left: 8px;
      animation: toBlue 1s 2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes background {
  100% {
    background-color: $bg_ribbon;
    color: $tx;
  }
}
@keyframes toBlue {
  100% {
    color: $blue;
  }
}
