@use "./global" as *;

$height: 3.5rem;
$searchBtnWidth: 64px;

@mixin icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  @include svg;
}

.Searchbox {
  max-height: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 100%;
    max-width: 760px;
    height: 100%;
    display: flex;
    align-items: center;
    &:focus-within .searchIcon {
      border: 1px solid $blue;
      border-right: none;
      background: var(--bg_dark);
      color: var(--tx);
    }
    &:focus-within .closeIcon {
      border: 1px solid $blue;
      border-left: none;
    }
    .searchIcon {
      color: $clear;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0 10px;
      height: 40px;
      border: 1px solid $clear;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    input {
      padding-left: 6px;
      width: 100%;
      height: 40px;
      color: var(--tx2);
      background: none;
      border: 1px solid var(--hover);
      border-right: none;
      font-size: 14px;
      background: var(--bg_dark);
      &:focus {
        outline: none;
        border-color: $blue;
        border-left: none;
        padding-left: 8px;
      }
      &[value=""] ~ .closeIcon {
        color: var(--bg);
        pointer-events: none;
      }
    }
    .closeIcon {
      border: 1px solid var(--hover);
      border-left: none;
      opacity: 1;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 8px;
      background: var(--bg_dark);
      cursor: pointer;
    }
  }
  .searchBtn {
    @include icon;
    width: 64px;
    height: 40px;
    border: 1px solid var(--hover);
    border-left: none;
    background-color: var(--bg_btn);
    color: var(--tx);
    border-radius: 0 2px 2px 0;
  }
}
