@use "./global" as *;

.Settings {
  background-color: $bg_dark;
  color: $tx;
  section {
    padding: 1.25rem 0;
    max-width: $max-width;
    margin: auto;
    display: flex;
    align-items: flex-start;
    div {
      min-width: 10rem;
      min-height: 3rem;
    }
    button {
      @include btn;
    }
  }
}
