@use "./global" as *;

$padding: 5em;

.Teenager {
  background-color: $bg_dark;
  font-size: 12px;
  .wrapper {
    position: relative;
    max-width: $max-width;
    margin: 0 auto $padding;
    color: $tx;
    button {
      position: absolute;
      top: $padding;
      right: 0;
      @include btn;
      @include hoverAndActive;
    }
    h2 {
      padding: $padding 0 1em;
      text-align: center;
    }
    h3 {
      font-size: 1em;
      margin-top: 1.875em;
      margin-bottom: 0.375em;
      line-height: 1.2;
      font-weight: bold;
    }
    p {
      font-size: 0.8125em;
    }
    .content {
      padding: 70px 100px;
      background-color: $bg_dark;
      border: solid 1px $hover;
      ul {
        padding-left: 1em;
        margin-top: 0.5em;
        li {
          list-style: inside;
          line-height: 1.6;
          overflow-wrap: break-word;
        }
      }
      .lawTable {
        min-width: 640px;
        border-collapse: collapse;
        margin: 3rem auto 0;
        border: 1px solid $hover;
        font-size: 13px;
        th {
          border-collapse: collapse;
          min-width: 160px;
          padding: 0.5em;
          border: 1px solid $hover;
          background-color: $bg;
        }
        td {
          min-width: 160px;
          padding: 0.5em;
          border: 1px solid $hover;
        }
      }
    }
  }
}
