@use "./global" as *;

.Webtoons {
  padding: 1rem;
  background-color: $bg_dark;
  margin: auto;
  color: $tx;
  max-width: $max-width;
  section {
    border: 1px solid $hover;
    border-left: none;
    border-right: none;
    padding: 1rem 0;
    background-color: $bg_dark;
    min-height: 320px;
    transition: transform 300ms;
    transform: translateY(-320px);
    &#open {
      transform: translateY(0);
    }
    button {
      font-size: 0.75rem;
      align-items: center;
      color: $tx2;
      background: none;
      border: none;
      margin: 1rem auto;
      display: block;
      cursor: pointer;
    }
    .noMore {
      text-align: center;
      margin: 1rem auto;
    }
  }
}
